body{
   /* background-color: whitesmoke; */
    width: auto;
    background-image: url('background_image.jpg');
    background-repeat: no-repeat;
    background-size: 1200px 744px;
    overflow-y: hidden;
}

#container{
    position: absolute;
    width: 60%;
    left: 20%;
}

#left-panel{
    position: absolute;
    width: 70%;
    left: 0%;
}

#right-panel{
    position: absolute;
    width: 30%;
    right: 0%;
}

.below-video{
    position: absolute;
    width: 100%;
    height: 20%;
}

.video-player{
    width: 640px;
    height: 320px;

}

#live-select{
    position: absolute;
    height: 30px;
    width: 120px;
    left: 150px;
    font-size: 16px;
}

#status{
    position: absolute;
    height: 30px;
    width: 60px;
    left: 0%;
    font-size: 25px;
}

#toggle{
    position: absolute;
    height: 30px;
    width: 50px;
    left: 60px;
    background-color: #444;
    border-radius: 30px;
    transition: 0.3s;
}

#toggle.active{
    background: cornflowerblue;

}

#toggle .toggle-button{
    position: absolute;
    top: 3px;
    left: 5px;
    width: 22px;
    height: 24px;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
}

#toggle.active .toggle-button{  
    left: 25px;

}

table th{
    text-align: center;
    background-color: #3a6070;
    color: #FFF;
    border: 2px solid grey;
    padding: 4px 100px 4px 8px;
}

table td{
    border: 2px solid grey;
    padding: 4px 8px;
}

table tr:nth-child(odd) td {
    background-color: #e7edf0;
}